html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Regular;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Poppins-Bold;
  font-weight: 700;
  src: url('../assets/fonts/Poppins-Bold.ttf') format('ttf');
}

@font-face {
  font-family: Poppins-ExtraBold;
  font-weight: 800;
  src: url('../assets/fonts/Poppins-ExtraBold.ttf') format('ttf');
}

.css-1uwgr7b-MuiTypography-root {
  line-height: normal !important;
}

.MuiTypography-root {
  /* display: flex !important;
  align-items: center !important;
  height: 100% !important; */
}
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
